body {
  font: normal 14px/100%;
  color: #fff;
  padding: 50px;
  width: 300px;
  margin: 50px auto;
  border: #6bbe92 solid;
  border-radius: 10%;
  background-color: #374954;
  text-align: center;
}

h1 {
  font-size: 100px;
}

.container {
  margin: 60% auto;
}

button {
  display: inline-block;
  background-color: #6bbe92;
  border: 0;
  width: 80px;
  height: 60px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  border-radius: 10%;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  border: #6bbe92;
}
